# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# SQLite / DB
*.db
*.sqlite3

# Node
node_modules/
dist/
build/

# env files / secrets
.env
.env.*.local

# logs
*.log

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
